/*positioning stlyes*/
.common{
    position: absolute;
    border:5px solid blue;
    background-color: beige;
    
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-style: italic;
    font-size: small;
    background-color: lightcyan;
}
.top {
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.content{
    top: 80px;
    left: 0px;
    right: 0px;
    height: 100%;

}
.nav{
    float: right;
    z-index: 1;
    position: relative;
    font-size: 24px;
    animation: textFade 5s infinite alternate; /* Adjust timing as needed */

}
@keyframes textFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}